:root {
    --grey: #343434;
    --darkGrey: #1f1f1f;
    --lightGrey: #474747;
    --red: #b23a48;
    --darkRed: #9a323e;
    --lightRed: #c85663;
    --apricot: #FFC6ac;
    --darkApricot: #FFAB85;
    --lightApricot: #ffe3d6;
    --olive: #9ab87a;
    --lightOlive: #aec695;
    --darkOlive: #86a960;
    --lightMint: #eeffdb;
    --mint: #e2ffc2;
    --darkMint: #ceff99;

}

* {
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    /* width: 100vw; */
    max-width: 1920px;
}

header {
    width: 1920px;
    height: 50px;
    background-color: var(--olive);
    box-shadow: 5px 5px var(--darkOlive);
    position: fixed;
    color: var(--darkGrey);
    box-sizing: border-box;
}

header h1 {
    float: right;
    margin: 15px 45px;
}

#navlinks {
    height: 100%;
}

header a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    height: 100%;
    margin: auto 0;
    color: var(--darkGrey)
}

header a:hover {
    background-color: var(--darkOlive);
}

#navlinks {
    height: 100%;
}

#about, #contact{
    width: 100%;
    background-image: linear-gradient(0deg, var(--lightMint), var(--mint));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    box-shadow: 5px 5px var(--darkOlive);
}

#bio h1 {
    color: var(--darkRed);
}

#bio {
    margin-top: 50px;
}

#bio, #contact-box {
    width: 800px;
    height: 75%;
    background-color: var(--darkMint);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px var(--darkOlive);
}

#about h1, #contact h1, #projects h1{
    font-size: 36px;
    color: var(--darkGrey);
    text-shadow: 1px 1px 1px var(--lightGrey);
}

#aboutText {
    font-size: 18px;
    width: 90%;
    padding-bottom: 15px;
}

#biopic {
    width: 700px;
    text-align: center;
    background-image: url(images/business.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    box-shadow: 5px 5px var(--darkOlive);
    margin-bottom: 10px;
}

#biopic:hover {
    background-image: url(images/pleasure.jpg);
}

#projects {
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(0deg, var(--lightApricot), var(--apricot));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 5px 5px var(--darkApricot);
}

#projects h1 {
    color: var(--darkRed);
}

#mainProject {
    width: 800px;
    height: 30%;
    /* background-color: var(--darkApricot); */
    background: url("https://picsum.photos/800/500");
    border: 5px solid var(--darkApricot);
}

.projectsRow {
    width: 800px;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.otherProjects {
    width: 30%;
    background-color: var(--darkApricot);
    background-image: url("https://picsum.photos/500/300");
    height: 20vh;
    border: 5px solid var(--darkApricot);
 
}

.projectText {
    display: block;
    margin-top: 30%;
    width: 50%;
    color:var(--lightMint);
    background-color: var(--darkApricot);
    padding: 15px;
}

#mainProject:hover, .otherProjects:hover {
    border: 5px solid var(--darkRed);
}

#mainProject:hover .projectText, .otherProjects:hover .projectText {
    background-color: var(--darkRed);
} 


#contact {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, var(--lightMint), var(--mint));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#contact-box {
    width: 800px;
    background-color: var(--darkMint);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contactDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#contactBoxes {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
    flex-wrap: wrap;    

}

.linkbox {
    background-color: var(--darkOlive);
    width: 225px;
    height: 225px;
    margin: 10px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box;  

}

.linkbox a {
    color: var(--darkGrey);
    font-size: 24px;
}

.linkbox a:hover {
    color: var(--lightGrey);
}

.linkbox:hover {
    background-color: var(--lightOlive);
}

@media only screen and (max-width: 420px) {

    #navbar {
        width:420px;
    }
    
    .myName h1 {
        font-size: 18px;
    }

    #navlinks a {
        font-size: 12px;
        padding: 16px 4px;
    }

    #aboutText {
        font-size: 12px;
    }

    #about, #projects, #contact {
        width: 420px;
    }

    #projects, #bio {
        width: 420px;
        display: flex;
        flex-direction: column;
    }

    #mainProject {
        width: 80%;
        height: 30%;

    }

    .projectsRow {
        width: 400px;
        height: 50%;
        flex-direction: column;
    }

    .otherProjects {
        width: 60%;
        height: 50%;
    }
    
    #bio, #contact-box {
        width: 400px;
    }

    #biopic {
        width: 380px;
    }
    #contactBoxes {
        width: 100%;
        height: 60%;
    }
    .linkbox {
        width: 160px;
        height: 160px;
    }
    

}

@media only screen and (max-width: 768px) {
    #bio, #contact-box, #mainProject, .projectsRow {
        display: flex;
        flex-direction: column;
        width: 700px;
    }

    .otherProjects {
        width: 400px;
        height: 170px;
        margin: 10px 0px;
        
    }
}
